<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/magnific-popup.css")
        link(rel="stylesheet", href="css/app.css")
        title Fosbury
    body
        div.carousel.layout-low.cycle-slideshow(data-cycle-slides="> div" data-cycle-pager=".carousel-custom-dots" data-cycle-timeout="5000" data-cycle-speed="1000")
            div.item
                div.item-img.carousel-item-img-disney.wrap(data-mfp-src="#w-modal-201")

                    //- div.wrap-hight
                        div.container-dots
                        h1.primary-text Welcome to a creative agency that punches above its weight
                        p.secondary-text With great ideas, bags of energy and a no-nonsense attitude:
                        strong.primary-text We are Fosbury
            div.item
                div.item-img.carousel-item-img-clients(data-mfp-src="#w-modal-202")

            div.item
                div.item-img.carousel-item-img-meetteam(data-mfp-src="#w-modal-203")

        div.layout-hight
            header.header
                div.wrap-fixed
                    div.wrap
                        div.nav-toggle.icon-sprite.icon-menu-open
                        button.logo-dark
                            img.logo(src="images/logo-dark.png", alt="Fosbury Marketing")
                        button.logo-light
                            img.logo(src="images/logo-light.png", alt="Fosbury Marketing")
                div.substrate
                div.navigation-panel
                    div.inner-wrap
                        button.logo
                            img(src="images/logo-light.png", alt="Fosbury Marketing")

                        button.close-navigation.icon-modal-close.icon-sprite

                        nav.navigation
                            ul
                                li.h1(id="clients") clients.
                                        span.h-auxiliary work
                                li.h1(id="about") about.
                                        span.h-auxiliary us
                                li.h1(id="our-philosophy") our.
                                        span.h-auxiliary philosophy
                                li.h1(id="our-team") our.
                                        span.h-auxiliary team
                                li.h1(id="contact") contact.
                                        span.h-auxiliary us

                    address.contacts
                        | Fosbury Marketing, <br>
                        | 5<sup>th</sup> floor,
                        a(href="#") 22 Upper Ground, <br> London SE1 9PD

                    p.contacts
                        | T
                        span.telephone +44 (0) 203 657 5580
                        br
                        | E
                        a.email(href="#") info@fosburymarketing.com


            div.main-content
                section.section-full
                    div.slide-to-bottom.icon-sprite.icon-transparent-white-left-arrow
                    div.wrap
                        div.wrap-hight
                            div.container-dots
                            h1.primary-text.visible Welcome to Fosbury, <br> a creative agency that punches above its weight
                            h1.primary-text Welcome to a creative agency that punches above its weight
                            p.secondary-text With great ideas, bags of energy and a no-nonsense attitude:
                            strong.primary-text We are Fosbury
                        div.button-wrap
                            button#see-the-work.button-primary see the work
                        div.carousel-custom-dots


                section.section-default#clients
                    header
                        h1.h1 client
                            span.h-auxiliary .Work
                        p.subheding From insurance to property, theme parks to premium whisky, gourmet puds to online retailers, <br> Premier League football clubs to life-changing charities; our clients are an eclectic and inspiring bunch.

                    div.wrap-large
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_amazon.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text World's largest online retailer
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-1") what we do
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover-01.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Most visited resort in the world
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-2") what we do
                                    button.addit-link.click-modal.primary-m(data-mfp-src="#w-modal-102") see the work
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_Assurance.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Fortune 500 speciality insurance provider
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-3") what we do
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_gu.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Top-notch pud brand
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-4") what we do
                                    button.addit-link.click-modal.primary-m(data-mfp-src="#w-modal-104") see the work
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_m7.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Leading pan-European industrial asset manager
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-5") what we do
                                    button.addit-link.click-modal.primary-m(data-mfp-src="#w-modal-105") see the work
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_lithium.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text San Francisco based software company
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-6") what we do
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_chivas.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text The global leader in luxury Scotch whisky
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-7") what we do
                                    button.addit-link.click-modal.primary-m(data-mfp-src="#w-modal-107") see the work
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_qbe.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Top 20 general insurance and reinsurance companies
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-8") what we do
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_kingdmill.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text 6th largest grocery brand in the UK
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-9") what we do
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_offthefence.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Brighton &amp; Hove charity
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-10") what we do
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_tottenham.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Premier League football club
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-11") what we do
                                    button.addit-link.click-modal.primary-m(data-mfp-src="#w-modal-111") see the work
                        figure.brand-wrap
                            div.brand
                                img.brand-img(src="images/rollover_Oakley-Capital.jpg", alt="Client logo")
                                figcaption.addit-inform
                                    p.addit-text Asset management and financial advisory business
                                    button.addit-link.click-modal.open-popup-link(data-mfp-src="#w-modal-12") what we do
                                    button.addit-link.click-modal.primary-m(data-mfp-src="#w-modal-112") see the work


                section.section-default#about
                    header
                        h1.h1 about
                            span.h-auxiliary .Us
                    div.wrap-large
                        figure.communication
                            div.comm-block-img.about-sprite.icon-about-graph
                            figcaption.addit-inform
                                p.addit-text We're an independent creative agency based in London Bridge that specialise in branding, promotions, advertising and digital
                        figure.communication
                            div.comm-block-img.about-sprite.icon-about-clock
                            figcaption.addit-inform
                                p.addit-text We bring a fast and creative turnaround, good value for money and a ‘Rain Man’- like attention to detail
                        figure.communication
                            div.comm-block-img.about-sprite.icon-about-lamp
                            figcaption.addit-inform
                                p.addit-text Two words sum us up: Ideas and Energy
                        figure.communication
                            div.comm-block-img.about-sprite.icon-about-handshake
                            figcaption.addit-inform
                                p.addit-text Some of the world’s biggest brands trust us

                section.section-default.section-reset
                    div.wrap-bg-img
                        div.opacity-bg
                            header
                                h1.h1 why
                                    span.h-auxiliary .Fosbury
                            div.wrap-middle.text-block
                                p The inspiration came from an article called "A paradigm shift in thinking." It was about Dick Fosbury, the American high jumper who rose to fame in the 1968 Mexico Olympics.
                                p Fosbury dared to jump in a different way, rejecting the scissors technique every other athlete used. He believed in himself, and ultimately his "flop" was a success.
                                p The article gave Andy a boost of inspiration and courage when setting up Fosbury Marketing. Seven years later, Fosbury is still reaching new heights (the agency, not Dick, who's retired and living in Idaho).

                section.section-default#our-philosophy
                    header
                        h1.h1 our
                            span.h-auxiliary .Philosophy
                        p.subheding We identified ten things that sum us up. Most of these you might hope to find at any agency worth their salt,
                                    <br> but three form a particularly unique strand of the Fosbury DNA. These are listed below
                    div.wrap-large
                        div.wrap
                            figure.communication
                                figcaption.addit-inform
                                    p.addit-text One challenge <br> rule
                                div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-challenge#philosophy1
                            figure.communication
                                figcaption.addit-inform
                                    p.addit-text No <br> BS
                                div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-BS#philosophy2
                            figure.communication
                                figcaption.addit-inform
                                    p.addit-text We give <br> options
                                div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-rule#philosophy3
                            figure.communication
                                figcaption.addit-inform
                                    p.addit-text Flexible?<br> It’s in our DNA
                                div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-flexible#philosophy4
                            figure.communication
                                figcaption.addit-inform
                                    p.addit-text We always<br> listen
                                div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-listen#philosophy5
                        div.content-for-communication
                            .content-column
                                article#philosophy1.text.transition
                                    h1.header One challenge rule
                                    p We have to be honest if we think something doesn’t look or feel right. If this is the case,
                                        <br> we challenge our clients to look again. But here’s the thing - we only challenge you once.
                                        <br> If clients don’t agree with our one challenge, we don’t push the point.
                                        <br> The final word is always with the client. Simple.
                        div.content-for-communication
                            .content-column
                                article#philosophy2.text
                                    h1.header No BS
                                    p Here at Fosbury we have a rule:
                                      <br> “If your Gran wouldn’t understand it, take it out.” No BS. No jargon. So our ‘Digital Prophet
                                      <br> won’t ‘reach out’ to you about an ‘omnichannel value add’. But David might call you about
                                      <br> improving your mobile site. Even David’s Gran Lily can understand that.
                        div.content-for-communication
                            .content-column
                                article#philosophy3.text
                                    h1.header We give options
                                    p We never present just one idea, it’s just not in our nature to be that presumptuous.
                                      <br>From experience, we’ve learned to never predict which option a client will go for.
                                      <br>Instead, we like to leave them spoilt for choice, with a gentle steer on preference.
                        div.content-for-communication
                            .content-column
                                article#philosophy4.text
                                    h1.header One challenge rule
                                    p. Flexible? It’s in our DNA
                                       <br> Having the same approach for every project would be pointless. We analyse what the task is,
                                       <br>then work out how best to achieve it, much like Dick Fosbury himself. Cheers Dick.
                        div.content-for-communication
                            .content-column
                                article#philosophy5.text
                                    h1.header We always listen
                                    p We listen, we ask the right questions and we understand what challenges and objectives our
                                      <br> Part of good communication is listening, and we are good communicators –
                                      <br> we are in the communications business after all. Our goal is to deliver our clients’ goals.
                                      <br> First we listen, then we bring our ideas &apm; energy to deliver.
                        div.content-for-communication
                            .content-column
                                article#philosophy6.text
                                    h1.header Calm, but with a sense of urgency
                                    p We always make sure our clients know that their project is in safe hands and we’re on the case.
                                      <br> There might be cogs turning and Macs whirring all hours at Fosbury HQ,
                                      <br> but we’ll always be ready for a casual chat.
                        div.content-for-communication
                            .content-column
                                article#philosophy7.text
                                    h1.header Go the extra mile
                                    p We care more and we work harder than the next agency, and the next one, and the next
                                      <br> one…you get the idea. With over 35,000 creative agencies in the UK one of the ways
                                      <br> we stand out is by exceeding expectations and over performing.
                        div.content-for-communication
                            .content-column
                                article#philosophy8.text
                                    h1.header Never forget: sell more
                                    p We know that behind every client we speak to, there’s an MD or Board of Directors lookin
                                      <br> at sales, the bottom line and ROI. We never forget this is a client’s ultimate end game
                                      <br> and our partnership and work is the better for it.

                        div.content-for-communication
                            .content-column
                                article#philosophy9.text
                                    h1.header Always on Time
                                    p No ifs. No buts.  If we agree on a deadline, you can set your watch to it.
                                      <br> Or your iPhone, either will work. Your call.

                        div.content-for-communication
                            .content-column
                                article#philosophy10.text
                                    h1.header Accurate budgets
                                    p We’re honest and open with our budgets – no hidden charges and no shifting prices.
                                      <br>Once a budget is set we keep to it, and we keep clients in the loop the whole way to delivery.
                                      <br>And we don’t clock-watch for those last minute amendments either -
                                      <br>no one likes a last minute budget change.
                        figure.communication
                            div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-budda#philosophy6
                            figcaption.addit-inform
                                p.addit-text Calm, but with<br> a sense of urgency
                        figure.communication
                            div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-extram-mile#philosophy7
                            figcaption.addit-inform
                                p.addit-text Go the <br> extra mile
                        figure.communication
                            div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-sell-more#philosophy8
                            figcaption.addit-inform
                                p.addit-text Never forget<br> sell more
                        figure.communication
                            div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-on-time#philosophy9
                            figcaption.addit-inform
                                p.addit-text Always <br>on time
                        figure.communication
                            div.tab-img.comm-block-img.philosophy-sprite.icon-philosophy-budget#philosophy10
                            figcaption.addit-inform
                                p.addit-text Accurate<br> budgets
                                CONTACT.Us


                section.section-default.section-color#our-team
                    header
                        h1.h1 our
                            span.h-auxiliary .Team
                        p.subheding Fosbury has grown a lot since 2008, and now has a vibrant base of UX specialists, Designers, Web developers,
                                    <br> Account Handlers, a cracking creative duo and the occasional intern here &amp; there.
                                    <br> We also have a corporate Moose (see Instagram if you don’t believe us). But at the middle of it all are these 3:
                    div.wrap-large
                        figure.user-info
                            div.user-img
                                div.user-img-inner
                                    img(src="images/man-2.png", alt="Photo of a man")
                            figcaption.addit-inform
                                p.h1 andy
                                    span.h-auxiliary .dyer <br>
                                    span.position Managing Director
                                div.about-wrap
                                    div.about
                                        div.about-text.about-text-visible Favourite film:
                                            <br>The pursuit of happiness
                                        div.about-text What is your
                                                       <br> favourite word:
                                                       <br> Blacmange
                                        div.about-text What sound or noise
                                                        <br/>do you love:
                                                        <br/>Woodpigeon
                                        div.about-text What other profession would you like
                                                        <br/> to attempt?:
                                                        <br>Pilot
                                        div.about-text Last book you read: <br>
                                                       Dead Simple, Peter James
                                        div.about-text Favourite London breakfast place:
                                                       <br> Regency Café,
                                                       <br> Regency St, SW1P
                                        div.about-text Favourite drink:
                                                        <br> Manhattan or San Miguel
                                                        <br> (in a San Miguel glass)
                                        div.about-text What would be your
                                                        <br> mastermind subject?
                                                        <br> Entourage Seasons 1-8
                                    div.about-left.icon-sprite.icon-circle-left-arrow
                                    div.about-right.icon-sprite.icon-circle-right-arrow
                        figure.user-info
                            div.user-img
                                div.user-img-inner
                                    img(src="images/man-1.png", alt="Photo of a man")
                            figcaption.addit-inform
                                p.h1 JON
                                    span.h-auxiliary .Williams <br>
                                    span.position Creative Director
                                div.about-wrap
                                    div.about
                                        div.about-text.about-text-visible Favourite film:
                                                                            <br> Fist of Fury
                                        div.about-text What is your favourite word:
                                            <br/>Defenestration
                                        div.about-text What sound or noise do you love:
                                            <br>The sea
                                        div.about-text What other profession would you like
                                            <br/> to attempt?:
                                            <br>Carpenter
                                        div.about-text Last book you read:
                                            <br>The Girl Who Saved
                                            <br>the King of Sweden'
                                            <br>Jonas Jonasson
                                        div.about-text Favourite drink:
                                            <br> breakfast place:
                                            <br> Maria's market cafe
                                        div.about-text Favourite drink:
                                            <br> A decent cuppa
                                        div.about-text What would be your mastermind subject?
                                            <br> Martial arts
                                    div.about-left.icon-sprite.icon-circle-left-arrow
                                    div.about-right.icon-sprite.icon-circle-right-arrow
                        figure.user-info
                            div.user-img
                                div.user-img-inner
                                    img(src="images/man-3.png", alt="Photo of a man")
                            figcaption.addit-inform
                                p.h1 DAVID
                                    span.h-auxiliary .Rapson <br>
                                    span.position Partner
                                div.about-wrap
                                    div.about
                                        div.about-text.about-text-visible Favourite film:
                                            <br> Leon
                                        div.about-text What is your
                                            <br/>favourite word:
                                            Halcyon
                                        div.about-text What sound or noise
                                            <br>do you love:
                                            <br>Opening an airtight jar
                                        div.about-text What other profession would you like<br>
                                            <br/> to attempt?:
                                            <br>Film score composer
                                        div.about-text Last book you read:
                                            <br>City on Fire' -
                                            <br>Garth Risk Hallberg'
                                        div.about-text Favourite London breakfast place:
                                            <br> Dishoom
                                        div.about-text Favourite drink:
                                            <br> Punk IPA
                                        div.about-text What would be your mastermind subject?
                                            <br> The Simpsons
                                    div.about-left.icon-sprite.icon-circle-left-arrow
                                    div.about-right.icon-sprite.icon-circle-right-arrow

                section.google-map.section-default#contact
                    header
                        h1.h1 contact
                            span.h-auxiliary .Us
                    div#google-map


            footer.footer.section-default
                ul.soc-icons
                    li
                        a(href="https://www.instagram.com/fosburymarketing/").icons-base.icon-sprite.icon-instagram-white
                    li
                        a(href="info@fosburymarketing.com").icons-base.icon-sprite.icon-letter
                    li
                        a(href="https://www.linkedin.com/company/fosbury-marketing").icons-base.icon-sprite.icon-in-white
                address.footer-row Fosbury Marketing, 5th floor,  22 Upper Ground, London SE1 9PD
                p.footer-row Registered No 6333820
                p.footer-row Copyright &copy; 2016 Fosbury Marketing



        div#w-modal-1.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title amazon
                    p.text.
                        Consultancy<br>
                        Creative concepts<br>
        div#w-modal-2.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title WORLD DISNEY WORLD
                    p.text.
                        Online game<br>
                        Social media<br>
        div#w-modal-3.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title ASSURANT SOLUTIONS
                    p.text.
                        Advertising<br>
                        Affiliate portal<br>
                        Brand development and guidelines<br>
                        Consultancy<br>
                        Design<br>
                        Digital<br>
                        Experential<br>
                        Partnerships<br>
                        Promotions<br>
                        UX<br>
        div#w-modal-4.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title Gü DESSERTS
                    p.text.
                        Advertising<br>
                        Digital<br>
                        POS<br>
                        Promotions<br>
                        Shopper marketing
        div#w-modal-5.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title MSEVEN REAL ESTATE
                    p.text.
                        Advertising<br>
                        Brand development and guidelines<br>
                        Consultancy<br>
                        Digital<br>
                        Portfolio brochures<br>
                        Proprietary software
        div#w-modal-6.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title LITHIUM
                    p.text.
                        Consultancy<br>
                        Design<br>
                        Digital<br>
                        UX
        div#w-modal-7.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title CHIVAS BROTHERS
                    p.text.
                        Global ambassador education<br>
                        Global bartender advocacy<br>
                        Pan-Asian consumer mentoring
        div#w-modal-8.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title QBE
                    p.text.
                        Brand videos
        div#w-modal-9.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title KINGSMILL
                    p.text.
                        Brand videos<br>
                        Consultancy<br>
                        Digital<br>
                        Nationwide launch campaigns<br>
                        Promotions<br>
                        Shopper marketing
        div#w-modal-10.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title OFF THE FENCE
                    p.text.
                        Advertising<br>
                        Promotions
        div#w-modal-11.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title TOTTENHAM HOTSPUR
                    p.text.
                        Digital advertising<br>
                        Hospitality acquisition and retention<br>
                        Infographics<br>
                        Social (Asia)
        div#w-modal-12.modal.modal-table.mfp-hide
            div.modal-wrapper
                div.modal-default.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    strong.title OAKLEY CAPITAL
                    p.text.
                        Brand development and guidelines<br>
                        Digital

        div#w-modal-102.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .Walt Disney

                    img.modal-full-image(src="images/png_fosburywebsite_workpages3_disney.png")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-104.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .Gü

                    img.modal-full-image(src="images/png_fosburywebsite_workpages3_gu.png")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-105.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .MSeven

                    img.modal-full-image(src="images/png_fosburywebsite_workpages3_m7.jpg")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-107.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .Chivas

                    img.modal-full-image(src="images/chivas_work.png")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-111.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .TottenhamHotspur

                    img.modal-full-image(src="images/png_fosburywebsite_workpages3_tottenham.jpg")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-112.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .Oakley Capital

                    img.modal-full-image(src="images/png_fosburywebsite_workpages3_oakley capital.jpg")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-201.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .Walt Disney

                    img.modal-full-image(src="images/png_fosburywebsite_workpages3_disney.png")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-202.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .Chivas

                    img.modal-full-image(src="images/chivas_work.png")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?

        div#w-modal-203.modal.modal-table.mfp-hide
            div.modal-wrapper
                article.modal-primary.modal-basic
                    button.close.icon-sprite.icon-modal-close
                    header
                        h1.h1 client
                            span.h-auxiliary .GU

                    img.modal-full-image(src="images/PNG_FosburyWebsite_WORKPAGES3_Gu.jpg")
                    div.half-text-wrap.half-text-right
                        p.text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A suscipit debitis ex ab nostrum, eaque ad fugiat consequuntur. Cum, soluta.

                    div.half-text-wrap.half-text-left
                        p.text.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil nulla dicta tempora cumque expedita consequuntur?
        script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
        script(src="js/jquery-1.12.0.min.js")
        script(src="js/cycle2.js")
        script(src="js/jquery.scroolly.min.js")
        script(src="js/magnific-popup-v1.1.0.js")
        script(src="js/main.js")

        //- div.modal.modal-table#w-modal-primary(style="display: none")
        //-     div.modal-wrapper
        //-         article.modal-primary.modal-basic
        //-             button.modal-prev next
        //-             button.modal-next prev
        //-             button.close CLOSE
        //-             header
        //-                 h1.h1 client
        //-                     span.h-auxiliary .work
        //-             div.modal-full-wrap
        //-                 div.modal-half-left
        //-                 div.modal-half-right

        //-             img(src="", alt="")

        //- p.text.
        //-     Global ambassador education<br>
        //-     Global bartender advocacy<br>
        //-     Pan-Asian consumer mentoring<br>