@font-face {
    font-family: 'Caslon';
    src: url('../fonts/ACaslonPro-Bold.eot');
    src: url('../fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ACaslonPro-Bold.woff') format('woff'),
         url('../fonts/ACaslonPro-Bold.ttf') format('truetype'),
         url('../fonts/ACaslonPro-Bold.svg#Caslon') format('svg');;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon';
    src: url('../fonts/ACaslonPro-BoldItalic.eot');
    src: url('../fonts/ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ACaslonPro-BoldItalic.woff') format('woff'),
         url('../fonts/ACaslonPro-BoldItalic.ttf') format('truetype'),
         url('../fonts/ACaslonPro-BoldItalic.svg#Caslon') format('svg');;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon';
    src: url('../fonts/ACaslonPro-Italic.eot');
    src: url('../fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ACaslonPro-Italic.woff') format('woff'),
         url('../fonts/ACaslonPro-Italic.ttf') format('truetype'),
         url('../fonts/ACaslonPro-Italic.svg#Caslon') format('svg');;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon';
    src: url('../fonts/ACaslonPro-Regular.eot');
    src: url('../fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ACaslonPro-Regular.woff') format('woff'),
         url('../fonts/ACaslonPro-Regular.ttf') format('truetype'),
         url('../fonts/ACaslonPro-Regular.svg#Caslon') format('svg');;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon';
    src: url('../fonts/ACaslonPro-Semibold.eot');
    src: url('../fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ACaslonPro-Semibold.woff') format('woff'),
         url('../fonts/ACaslonPro-Semibold.ttf') format('truetype'),
         url('../fonts/ACaslonPro-Semibold.svg#Caslon') format('svg');;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon';
    src: url('../fonts/ACaslonPro-SemiboldItalic.eot');
    src: url('../fonts/ACaslonPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ACaslonPro-SemiboldItalic.woff') format('woff'),
         url('../fonts/ACaslonPro-SemiboldItalic.ttf') format('truetype'),
         url('../fonts/ACaslonPro-SemiboldItalic.svg#Caslon') format('svg');;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon_light-webfont.eot');
    src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_light-webfont.woff') format('woff'),
         url('../fonts/brandon_light-webfont.ttf') format('truetype'),
         url('../fonts/brandon_light-webfont.svg#Caslon') format('svg');;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_reg-webfont.woff') format('woff'),
         url('../fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../fonts/brandon_reg-webfont.svg#Caslon') format('svg');;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon_blk-webfont.eot');
    src: url('../fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_blk-webfont.woff') format('woff'),
         url('../fonts/brandon_blk-webfont.ttf') format('truetype'),
         url('../fonts/brandon_blk-webfont.svg#Caslon') format('svg');;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_med-webfont.woff') format('woff'),
         url('../fonts/brandon_med-webfont.ttf') format('truetype'),
         url('../fonts/brandon_med-webfont.svg#Caslon') format('svg');;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/brandon_bld-webfont.eot');
    src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_bld-webfont.woff') format('woff'),
         url('../fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('../fonts/brandon_bld-webfont.svg#Caslon') format('svg');;
    font-weight: bold;
    font-style: normal;
}