.icon-Be {
  background-position: 0px 0px;
  width: 30px;
  height: 19px;
}

.icon-circle-left-arrow-hover {
  background-position: 0px -217px;
  width: 30px;
  height: 30px;
}

.icon-circle-left-arrow {
    background-position: 0px -185px;

    &:hover {
        background-position: 0px -217px;
    }
}

.icon-circle-right-arrow {
    background-position: 0px -89px;

    &:hover {
        background-position: 0px -249px;
    }
}

.icon-in-red {
  background-position: 0px -42px;
  width: 22px;
  height: 21px;
}

.icon-in-white {
  background-position: 0px -153px;
  width: 30px;
  height: 30px;
}

.icon-instagram-red {
  background-position: 0px -65px;
  width: 22px;
  height: 22px;
}

.icon-instagram-white {
  background-position: 0px -121px;
  width: 30px;
  height: 30px;
}

.icon-letter {
  background-position: 0px -21px;
  width: 30px;
  height: 19px;
}

.icon-modal-close {
  background-position: 0px -280px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.icon-menu-open {
  background-position: 0px -312px;
}
.icon-transparent-red-left-arrow {
  background-position: 0px -355px;
  width: 40px;
  height: 40px;
}
.icon-transparent-red-right-arrow {
  background-position: 0px -397px;
  width: 40px;
  height: 40px;
}
.icon-transparent-white-left-arrow {
  background-position: 0px -439px;
  width: 40px;
  height: 40px;
}
.icon-transparent-white-right-arrow {
  background-position: 0px -481px;
  width: 40px;
  height: 40px;
}
