.clear() {
    &:after {
        display: block;

        content: '';
        clear: both;
    }
}
.filter(@prop) {
    filter: @prop;
    -webkit-filter: @prop;
}

.transition(@prop) {
    -webkit-transition: @prop;
    -moz-transition: @prop;
    -o-transition: @prop;
    transition: @prop;
}