.icon-aboutus-1 {
    background-position: 0 -1091px;

}
.icon-aboutus-2 {
    background-position: 0 -1311px;

}
.icon-aboutus-3 {
    background-position: 0 -1751px;

}
.icon-aboutus-4 {
    background-position: 0 -2191px;

}
.icon-philosophy-BS {
    background-position: 0 -1531px;
}
.icon-philosophy-BS-2 {
    background-position: 0 -109px;
}
.icon-philosophy-budda {
    background-position: 0 -1971px;
}
.icon-philosophy-budda-2 {
    background-position: 0 -2521px;
}
.icon-philosophy-budget {
    background-position: 0 -981px;
}
.icon-philosophy-budget-2 {
    background-position: 0 -327px;
}
.icon-philosophy-challenge {
    background-position: 0 -1201px;
}
.icon-philosophy-challenge-2 {
    background-position: 0 -436px;
}
.icon-philosophy-extram-mile {
    background-position: 0 -1421px;
}
.icon-philosophy-extram-mile-2 {
    background-position: 0 0;
}
.icon-philosophy-flexible {
    background-position: 0 -1641px;
}
.icon-philosophy-flexible-2 {
    background-position: 0 -545px;
}
.icon-philosophy-listen {
    background-position: 0 -1861px;
}
.icon-philosophy-listen-2 {
    background-position: 0 -654px;
}
.icon-philosophy-on-time {
    background-position: 0 -2081px;
}
.icon-philosophy-on-time-2 {
    background-position: 0 -763px;
}
.icon-philosophy-rule {
    background-position: 0 -2301px;
}
.icon-philosophy-rule-2 {
    background-position: 0 -872px;
}
.icon-philosophy-sell-more {
    background-position: 0 -2411px;
}
.icon-philosophy-sell-more-2 {
    background-position: 0 -218px;
}





.icon-about-clock {
  background-position: 0 0;
}
.icon-about-graph {
  background-position: 0 -120px;
}
.icon-about-handshake {
  background-position: 0 -239px;
}
.icon-about-lamp {
  background-position: 0 -360px;
}
