@media screen and (min-width: 600px) {
    .brand-wrap {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        margin-bottom: 53px;
    }

    p {
        margin-bottom: 45px;
    }


    .close-navigation {
        top: 43px;
    }
    .section-full {
        .primary-text {
            display: block;
            margin-bottom: 5px;

            font-size: 40px;
        }

        .primary-text.visible {
            display: none !important;
        }

        .secondary-text {
            display: block;

            font-size: 20px;
        }

        .slide-to-bottom {
            bottom: 45px;
        }


    }

    .main-content {
        #clients,
        #our-philosophy {
            padding-top: @d-section-large-top-padding;
        }
    }

    .section-default {
        padding: @d-section-top-padding @d-section-left-padding;
    }

    .section-reset {
        padding: 0;

        .opacity-bg {
            padding: (@d-section-top-padding * 1.5) @d-section-left-padding;
        }
    }

    .text-block p{
      margin-bottom: 20px;
    }

    .wrap-bg-img {
        margin: 0 30px;
    }

    .navigation-panel {
        width: 360px;

        .inner-wrap {
            min-height: calc(~"100vh - 260px");

            .logo {
                margin: 35px @nav-padding 45px;
            }
        }
    }

    .navigation li{
        padding: 18px 45px;
    }

    .h1 {
        font-size: @f-size-extra-large + 4;
    }

    .button-wrap {
        bottom: 100px;
    }

    .carousel-custom-dots {
        bottom: 40px;
        > span{
            width: 10px;
            height: 10px;
        }
    }

    #about {
        .communication {
            max-width: 245px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .wrap-fixed {
        background-color: transparent !important;
    }

    .section-full {
        .primary-text {
            margin-bottom: 20px;

            font-size: @f-size-mega-large;
        }

        .secondary-text {
            margin-bottom: 80px;

            font-size: @f-size-large + 4;

            &:after {
                bottom: -45px;
            }
        }
    }

    .logo-dark,
    .logo-light {
        .transition(500ms);

        position: absolute;
        left: 90px;
        right: auto;
        top: 10px;
    }

    .nav-toggle{
        width:40px;
        height:40px;
    }

    .logo {
        width: 110px;
    }

    // .brand-wrap {
    //     max-width: 33.33%;
    // }

    .subheding{
        br{
            display:block;
        }
    }

    #our-philosophy {
        display: block;

        .wrap {
            margin-bottom: 200px;
        }

        .communication {
            max-width: 195px;
        }

        .wrap-large p {
            font-size: @f-size-middle - 1;
        }

        .comm-block-img {
            height: 110px;
            width: 110px;
        }
    }

    #about {
        padding-bottom: 70px;
        .addit-inform {
            padding: 0 15px;
        }
    }

    #our-team {
        padding-top: 70px;
    }

    #contact {
        padding-top: 70px;
    }

    .section-color.section-color {
        background-color: #f7f4f4;
    }

    .content-for-communication {
        position: absolute;
        top: 190px;
        left: 0;

        display: table;
        width: 100%;
        height: 200px;

        .content-column {
            display: table-cell;
            vertical-align: middle;
        }

        .text {
            .transition(500ms);

            opacity: 0;
            margin-bottom: 0;
        }

        h1 {
            margin-bottom: 5px;

            font-size: @f-size-middle + 2;

            color: @f-primary-color;
        }

        p {
            margin-bottom: 0;
        }
    }
}