body {
    /*.transition(500ms);*/

    margin: 0;
    height: 100%;

    font: normal @f-size-normal/1.2 @ff-default;

    color: @f-basic-color;
}

header {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

h1 {
    margin: 0 0 33px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0 0 15px;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: transparent;
    border: 0;

    outline: none;
    cursor: pointer;
}