//Header

.header {
    .clear();

    .wrap-fixed {
        .transition(500ms);

        position: fixed;
        z-index: 100;

        width: 100%;

        text-align: left;
    }

    .wrap {
        position: relative;
        padding: 10px 25px;
    }
}

.logo-dark,
.logo-light {
    .transition(500ms);

    position: absolute;
    top: 15px;
    right: 20px;
}

.logo-dark {
    opacity: 0;
}

.logo {
    display: inline-block;
    width: 90px;
    vertical-align: bottom;
}

.nav-toggle {
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;

    cursor: pointer;
}

.substrate {
    .transition(800ms);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    display: none;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.6);

    cursor: url(../images/menu-close.png), pointer;
}

.navigation-panel {
    .transition(500ms);

    position: fixed;
    top: 0;
    left: -360px;
    z-index: 1000;

    height: 100vh;
    width: 300px;

    text-align: left;

    color: @f-light-color;
    background-color: @bg-nav-panel;

    overflow-y: auto;


    .logo {
        margin:15px @nav-padding;
    }

    a, li {
        font-size: @f-size-middle - 1;

        color: @f-light-color;
    }

    .h1 {
        padding: 18px 45px !important;
    }

    .contacts {
        padding: 0 @nav-padding;
        margin-bottom: 45px;
        line-height: 1.4;
    }
}

.close-navigation {
    position: absolute;
    right: 45px;
    top: 22px;

    width: 30px;
    height: 31px;
}

.navigation-panel-open {
    left: 0;
}

.navigation {
    .h1 {
        font-weight: bold;
    }

    .h-auxiliary {
        color: @f-light-color;
    }

    ul {
        position: relative;

        padding-bottom: 25px;
        margin-bottom: 45px;

        &:after {
            position: absolute;
            bottom: 0;

            display: block;
            width: calc(~"100% - 90px");
            height: 1px;
            margin: 0 45px;
            background-color: @bg-lighter;

            content: '';
        }
    }

    li {
        width: 100%;
        padding:12px 45px;
        box-sizing: border-box;

        letter-spacing: 5px;

        cursor: pointer;

        .transition(500ms);

        &:hover {
            text-decoration: none;

            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.main-content {
    .transition(500ms);
}

.section-full {
    display: table;
    color: @f-light-color;
    font-family: @ff-primary;

    .slide-to-bottom {
        position: absolute;
        bottom: 20px;
        left: 27px;
        z-index: 2;

        width: 35px;
        height: 35px;
        border: 2px solid @bg-lighter;
        border-radius: 50%;
        box-sizing: border-box;


        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);

        background-size: 36px 338px;
        background-position: -4px -282px;

        cursor: pointer;
    }

    .wrap {
        position: relative;

        display: table-cell;
        vertical-align: middle;
    }

    .wrap-hight {
        max-width: 690px;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .primary-text {
        // font-size: 24px;
        // font-size: 45px;
        font-weight: 400;
        margin-bottom: 5px;

        display: none;

        font-size: 41px;
        line-height: 1;
    }

    .secondary-text {
        position: relative;
        // font-size: 26px;
        font-size: 15px;
        margin-bottom: 15px;

        display: none;

        &:after {
            position: absolute;
            // top: 130%;
            bottom: -7px;
            left: 42%;

            display: block;
            width: 16%;
            border-bottom: 1px solid #fff;

            content: '';
        }
    }
}

#our-philosophy {
    display: none;
}

#google-map {
    width: 100%;
    height: 700px;
    max-height: 90vh;
}

.section-default.google-map {
    padding: @d-section-top-padding 0 0;
}

//Footer
.footer {
    background-color: @bg-darker;
    color: @f-light-color;

    font-size: @f-size-normal + 1;
    letter-spacing: 1px;

    a {
        color: inherit;
    }

    .footer-row{
      margin-bottom: 20px;
    }
}

.soc-icons {
    margin: 15px 0 45px;
    li{
      display: inline-block;
      margin: 0 22px;
      vertical-align: bottom;
    }
    a{
      display: block;
    }
}

//Slider
.carousel {
    .transition(500ms);

    position: fixed;
    z-index: -1;

    .item-img {
        position: relative;

        width: 100vw;
        height: 100vh;

        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .carousel-item-img-disney {
        background-image: url(../images/disney_1.jpg);
    }

    .carousel-item-img-clients {
        background-image: url(../images/topclients.jpg);
    }

    .carousel-item-img-meetteam {
        background-image: url(../images/meetteamBG.jpg);
    }
}

.owl-carousel {
    .owl-item {
        height: 100vh;
        overflow: hidden;
    }

    .owl-stage-outer {
        height: 100vh !important;
    }

    .owl-wrapper-outer{
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;  // added this
    }
}

.carousel-custom-dots {
    position: absolute;
    bottom: 15px;

    left: 0;
    right: 0;

    > span{
        .transition(500ms);
        display:inline-block;
        margin-right:10px;
        width:15px;
        height:15px;
        // border: 2px solid @bg-cream-light;
        border-radius:50%;
        box-sizing:border-box;
        background-color:@bg-lighter;
        cursor:pointer;
        opacity:0.5;
        text-indent:-9999px;

        &:hover{
            opacity:0.9;
        }

        &:last-child{
            margin-right:0;
        }

        &.cycle-pager-active {
            background-color: @bg-dot;
            opacity: 1;
        }
    }
}

//modal
.fs-popup {
    background-color: rgba(255, 255, 255, 0.8);

    .mfp-close{
        display:none;
    }

    .mfp-content{
        max-width:1024px;
        margin:50px auto;
    }

    .mfp-arrow{
        opacity:1;
        position: absolute;
        top: 176px;
        background-color: #c60a27;
        background-image: url(../images/icon-sprite.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: 0px -481px;
        width: 40px;
        height: 40px;

        &:before,
        &:after{
            display:none;
        }
    }

    .mfp-arrow.mfp-arrow-left{
        background-position: 0px -439px;
    }
}

.fs-popup-dark {

    background-color: rgba(0, 0, 0, 0.7);

    .modal-default{
        margin:0 auto;
        display:block;
    }
}

.mfp-content {
    text-align: center;

    .mfp-close {
        display: none;
    }
}

.modal-basic {
    position: relative;

    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.modal-default {
    max-width: 460px;

    background-color: @bg-nav-panel;
    color: @f-light-color;

    .close {
        display: block;
        margin: 0 auto 15px;
    }

    .title {
        display: block;
        max-width: 290px;
        margin: 0 auto 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid @border-dark-color;

        font-size: @f-size-middle;
        text-transform: uppercase;
        letter-spacing: 1.8px;
    }

    .text {
        font-family: @ff-primary;
        font-size: @f-size-normal + 1;
        letter-spacing: 1.2px;
        line-height: 1.4;
    }
}

.modal-full-wrap {
    .clear();

    width: 100%;
    border-bottom: 1px solid @bg-nav-panel;
}

.modal-half-left,
.modal-half-right {
    width: 48%;
}

.modal-half-left {
    float: left;
}

.modal-half-right {
    float: right;
}

.modal-primary {
    background-color: @bg-lighter;

    .close {
        width: 20px;
        height: 20px;

        background-image: @bg-nav-panel;
    }

    .half-text-wrap {
        display: inline-block;
        margin-right: -3px;
        width: 50%;
        box-sizing: border-box;

        text-align: left;
    }

    .half-text-left {
        padding-left: 8px;
    }

    .half-text-right {
        padding-right: 8px;
    }

    .icon-modal-close {
        width: 32px;
        height: 33px;
        margin-top: 20px;
        border-radius: 50%;
        margin: 20px auto 0;
        display: block;

        background: url(../images/menu-close.png) -4px -4px no-repeat;
    }

    header {
        position: relative;
        margin-top: 40px;
    }
}