//Helpers class

.owl-image-reverse {
    height: 100vh;
    width: auto !important;
    max-width: 5000px;
}

.layout-hight {
    position: relative;
    z-index: 110;
}

// .fixed-body {
//     height: 100vh;
//     overflow: hidden;
// }
.fixed-body{
    position:fixed;
    width:100%;
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    // background-color: rgba(255, 255, 255, 0.6);
}

.visible {
    .transition(500ms);

    display: block !important;
}

.transition {
    .transition(500ms);

    opacity: 1 !important;
}

.themodal-lock {
    .transition(500ms);

    width: 100vw;
}
//Wraps
.section-default {
    .clear();

    padding: @m-section-top-padding @m-section-left-padding;
    text-align: center;
    background-color: #fff;
}

.section-full {
    position: relative;

    width: 100%;
    height: 100vh;

    text-align: center;
}

.section-reset {
    padding: (@m-section-top-padding * 2) @m-section-left-padding;
}

.wrap-hight,
.wrap-middle,
.wrap-large {
    position: relative;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.wrap-hight {
    max-width: 930px;
}

.wrap-middle {
    max-width: 590px;
}

.wrap-large {
    max-width: 1000px;
}

.wrap-bg-img {
    position: relative;

    // background-color: rgba(255, 255, 255, 0.9);

    font-size: @f-size-middle;

    .opacity-bg {
        position: relative;
        z-index: 5;

        padding: 30px 15px 20px;

        // background-color: rgba(255, 255, 255, 0.9);
    }
}

.wrap-bg-img:before {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    content: '';
    width: 100%;
    height: 100%;

    background: url("../images/full-image.jpg") ~"0 0" no-repeat;
    background-size: cover;
}

//Headers h1 and others
.h1 {
    display: inline-block;
    padding: 0 20px 10px;
    border-bottom: 1px solid @f-primary-color;

    font-weight: 700;
    font-size: @f-size-large + 5;
    line-height: 1.4;

    text-transform: uppercase;
}

.h-auxiliary {
    text-transform: capitalize;
    font-family: @ff-primary;
    font-weight: 600;

    color: @f-primary-color;
}

.subheding{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    font-size:17px;

    br{
        display:none;
    }
}

//Brands block
.brand-wrap {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    max-width: 237px !important;
    padding: 20px 10px 0;
    margin-right: -3px;
    box-sizing: border-box;
}

.brand {
    position: relative;

    text-align: center;

    max-width: 378px;
    width: 100%;

    background-color: @bg-cream;

    overflow: hidden;

    &:after {
        position: absolute;
        top: 101%;
        left: 0;
        z-index: 5;

        display: block;
        width: 100%;
        height: 100%;

        background-color: @bg-nav-panel;

        content: '';

        transition-property: top;
        transition-duration: 500ms;
    }

    &:hover {
        &:after {
            top: 0;
        }

        .addit-inform {
            opacity: 1;
        }
    }

    .brand-img {
        display: inline-block;
        max-width: 368px;
        max-height: 212px;
    }

    .addit-inform {
        .transition(500ms);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        width: 100%;
        height: 100%;
        padding: 30px 10px;
        box-sizing: border-box;

        color: @f-light-color;

        opacity: 0;
    }

    .addit-text {
        margin-bottom: 30px;
        font-size: 18px;
    }

    .addit-link {
        display: block;
        width: 132px;
        margin: 0 auto 22px;
        padding: 7px 0 5px;
        box-sizing: border-box;
        border: 1px solid @border-light-color;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

        color: inherit;
        background-color: transparent;

        .transition(500ms);

        &:hover {
            color: @f-primary-color;
            background-color: @bg-lighter;
        }
    }
}

//Communication blocks. Backgrounds images.
.communication,
.user-info {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: -3px;
    padding: 10px 10px;
    box-sizing: border-box;
}

.communication {
    max-width: 215px;

    .addit-text {
        margin-bottom: 15px;
    }

    p {
        font-size: @f-size-middle - 1;
    }
}

.comm-block-img {
    display: inline-block;
    width: 118px;
    height: 118px;
    margin-bottom: 15px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

//Blocks of People
.user-info {
    max-width: 290px;

    .addit-inform {
        padding: 10px 0 0;
    }

    .h1 {
        margin: 0 20px 10px;
        padding: 0 0 10px;

        font-size: @f-size-large;
        line-height: 0.8;
    }

    .h-auxiliary {
        display: inline-block;
    }

    .position {
        display: block;

        font-size: @f-size-normal;
        font-weight: 500;
        text-transform: capitalize;

        color: @f-primary-color;
    }

    .user-img {
        display:table;
        width:100%;
    }

    .user-img-inner{
        display:table-cell;
        text-align:center;
        vertical-align:bottom;
        height:230px;

        img{
            max-height:230px;
        }
    }

    .about-wrap {
        position: relative;

        text-transform: capitalize;
    }

    .about-text {
        font-weight:normal;
        .transition(opacity 500ms);

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 50px;

        font-size: @f-size-normal - 1;

        opacity: 0;
        box-sizing:border-box;
        padding:0 58px;
    }

    .about-text-visible {
        position: static;
        opacity: 1;
    }

    .about-left,
    .about-right {
        position: absolute;
        top: 0;

        width: 30px;
        height: 30px;
        border-radius: 50%;

        cursor: pointer;
    }

    .about-left {
        left: 20px;
    }

    .about-right {
        right: 20px;
    }
}

//Buttons
.button-wrap {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.button-primary {
    .transition(500ms);

    display: inline-block;
    margin: 0 auto;
    padding: 5px 22px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid @border-light-color;

    font-size: 13px;
    font-weight: @weight-black;
    text-transform: uppercase;

    background-color: @bg-darker;
    color: @f-light-color;

    outline: none;
    cursor: pointer;

    &:hover {
        background-color: @bg-lighter;
        color: @f-dark-color;
    }
}

//Icons
.icon-sprite {
    background-image: url(../images/icon-sprite.png);
    background-size: 40px;
    background-repeat: no-repeat;
}

.philosophy-sprite {
    background-image: url(../images/philosophy-sprite.png);
}

.about-sprite {
    background-image: url(../images/about-sprite.png);
    background-size: 118px;
    background-repeat: no-repeat;
}