//Margin and Padding
@nav-padding : 45px;

//fonts
@ff-default                     : "Brandon", Arial, Helvetica, sans-serif;
@ff-primary                     : "Caslon", "Times New Roman", Times, serif;


//font-size
@f-size-small                   : 13px;
@f-size-normal                  : 15px;
@f-size-middle                  : 18px;
@f-size-large                   : 22px;
@f-size-extra-large             : 36px;
@f-size-mega-large              : 54px;

@weight-light                   : 300;
@weight-normal                  : normal;
@weight-medium                  : 500;
@weight-semibold                : 600;
@weight-black                   : 700;
@weight-bold                    : bold;

//padding
@d-section-large-top-padding    : @d-section-top-padding * 2;
@d-section-top-padding          : 40px;
@d-section-left-padding         : 15px;

@m-section-top-padding          : 15px;
@m-section-left-padding         : 15px;


//BG coclor
@bg-cream                       : #f7f4f4;
@bg-darker                      : #000;
@bg-lighter                     : #fff;
@bg-nav-panel                   : #c60a27;
@bg-cream-light                 : #eceded;
@bg-dot                         : #c31632;

//Border color
@border-light-color             : #fff;
@border-dark-color              : #000;

//Font color
@f-basic-color                  : #231f20;
@f-primary-color                : #c2002f;
@f-secondary-color              : #5c666f;
@f-light-color                  : #fff;
@f-dark-color                   : #000;
